@font-face {
  font-family: gotham;
  src: url("./fonts/GothamLight.ttf");
}

@font-face {
  font-family: gotham-bold;
  src: url("./fonts/GothamMedium.ttf");
}

@font-face {
  font-family: crimson-reg;
  src: url("./fonts/CrimsonText-Regular.ttf");
}

:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  --doc-height: 100vh; /* Fallback value */
  --blue1: #8fe5e4ff;
  --blue2: #68d7dfff;
  --blue3: #018eacff;
  --blue4: #006a88ff;
  --blue5: #002846ff;
  --blue1opaque: rgba(143, 229, 228, 0.5);
  --blue2opaque: rgba(104, 215, 223, 0.5);
  --blue3opaque: rgba(1, 141, 172, 0.5);
  --blue4opaque: rgba(0, 106, 136, 0.5);
  --blue5opaque: rgba(0, 40, 70, 0.5);
  --black1: black;
  --radial-gradientTest: radial-gradient(
    var(--blue1opaque),
    var(--blue2opaque),
    var(--blue3opaque)
  );

  --radial-gradient: radial-gradient(var(--blue5), var(--blue4), var(--blue3));
  --radial-gradientTwo: radial-gradient(
    var(--blue5),
    var(--blue4),
    var(--blue2)
  );

  --radial-gradient-dark: radial-gradient(
    rgba(0, 141, 172, 0.2),
    rgba(100, 106, 136, 0.4)
  );
}

#root {
  height: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  height: var(--doc-height);
  background-color: black;
  /* background: var(--radial-gradientTest); */
  /* overflow: hidden; */
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.tester {
  /* background-color: black; */
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("/assets/images/icl-symbol.png");
  background-position: center;
  background-repeat: no-repeat;
  z-index: -5;
}

.fade-out-animation {
  background-color: black;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("/assets/images/icl-symbol.png");
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
  animation: fadeOut 1s forwards;
  animation-delay: 1s;
}

.icl-logo {
  height: 42%;
  /* margin-left: 2em; */
  animation: slideUp 1s ease-out forwards;
}

.background-one {
  background: radial-gradient(var(--blue5), var(--blue4), var(--blue3));
  opacity: 0.6;
  flex: 4;
}

.background-two {
  background: var(--radial-gradientTest);
  flex: 1;
}
.nav-outer-wrapper {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 10.7%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border-bottom: 1px solid rgb(0, 0, 0, 0.4); */
  /* background: black; */
  /* box-shadow: 0px 7px 3px 1px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0px 7px 3px 1px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 7px 3px 1px rgba(0, 0, 0, 0.4); */
  /* z-index: 1; */
  /* background: black; */
}

.nav-actual-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10.7%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: radial-gradient(var(--blue5), var(--blue4));
  border-bottom: 1px solid rgb(0, 0, 0, 0.4);
  /* background: black; */
  box-shadow: 0px 7px 3px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 7px 3px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 7px 3px 1px rgba(0, 0, 0, 0.2);
  /* opacity: 0.95; */
  z-index: 2;
  /* animation: fadeIn 0.4s forwards; */
}

.fade-in-ani {
  animation: fadeIn 0.6s ease-in-out;
}

.nav-logo-wrapper {
  display: flex;
  height: 90%;
  /* justify-content: space-between; */
  align-items: center;
  /* width: 90%; */
  margin-left: 2em;
}

.top-bar-language-items-container {
  display: flex;
  justify-content: space-evenly;
  margin-right: 2em;
  width: 40%;
}

.slide-menu {
  position: fixed;
  top: 0;
  right: 0px;
  width: 0;
  height: 100%;
  background-color: rgb(47, 39, 39);
  color: white;
  overflow: hidden;
  border-left: 1px solid rgba(255, 255, 255, 0.4);
  padding: 1em;
  box-sizing: border-box;
  transition: width 0.5s ease-in-out, opacity 0.8s ease-in-out;
  z-index: 1;
  opacity: 0;
}

.slide-menu.open {
  width: 66%;
  opacity: 1;
  overflow-y: scroll;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.homepage-wrapper {
  width: 100vw;
  height: 100%;
  /* overflow-y: scroll; */
  overflow-x: hidden;
}
.choose-language-wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  /* background: var(--radial-gradientTest); */
  height: 100%;
}

.languages-container {
  margin-top: 8em;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
}

/* @keyframes move_then_fadeIn_he {
  0% {
    transform: translateX(0);
    opacity: 0;
  }
  50% {
    transform: translateX(60%);
    opacity: 0.5;
  }
  100% {
    transform: translateX(60%);
    opacity: 1;
  }
}

@keyframes move_then_fadeIn_zh {
  0% {
    transform: translateX(0);
    opacity: 0;
  }
  50% {
    transform: translateX(-60%);
    opacity: 0.5;
  }
  100% {
    transform: translateX(-60%);
    opacity: 1;
  }
} */

.questionaire-items-menu-open {
  position: absolute;
  right: 0;
  top: 0;
  height: 100vh;
  background: rgba(159, 150, 150, 0.9);
  transition: width 0.4s ease-in-out;
  z-index: 3;
  display: flex;
  flex-direction: column;
  width: 0; /* Initial closed state */
  overflow: hidden; /* Ensures content doesn't spill out during transition */
}

.questainre-open {
  width: 40vw; /* The width when menu is open */
}

.menu-open-list-item {
  font-family: sans-serif;
  margin-top: 1em;
  font-size: 1.1em;
  opacity: 0;
}

.questionair-all-items-btn {
  all: unset;
  border: 1px solid rgba(255, 255, 255, 0.45);
  border-radius: 12px;
  width: 10em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  margin-top: 0.5em;
  /* font-weight: 900; */
  background: var(--blue1opaque);
}

.language-flag {
  height: 12em;
  width: 12em;
  background-image: url("/assets/images/closeup-union-jack-flag.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 12px;
  box-shadow: -1px 1px 17px 5px rgba(255, 255, 255, 0.45);
  /* opacity: 0.9; */
  position: relative;
  border: 1px solid rgb(0, 0, 0, 0.6);
  /* animation: move_then_fadeIn 3s forwards; */
}

.secondLanguage-flag {
  background-image: url("/assets/images/china-flag.webp");
  background-position: left;

  /* background-size: contain; */
  /* animation: move_then_fadeIn 3s forwards; */
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}

@keyframes fadeOut_and_zindex {
  to {
    opacity: 0;
    z-index: -2;
  }
}

@keyframes moveToCenter_then_fadeOut {
  0% {
    transform: translateX(0);
    opacity: 0.9;
  }
  50% {
    transform: translateX(60%);
    opacity: 0.9;
  }
  100% {
    transform: translateX(60%);
    opacity: 0;
  }
}

@keyframes moveToCenterBackwards_then_fadeOut {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  50% {
    transform: translateX(-60%);
    opacity: 1;
  }
  100% {
    transform: translateX(-60%);
    opacity: 0;
  }
}

@keyframes moveToCenterAssembly_then_fadeOut {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  50% {
    transform: translateY(60%);
    opacity: 1;
  }
  100% {
    transform: translateY(60%);
    opacity: 0;
  }
}

@keyframes moveToCenterBackwardsAssembly_then_fadeOut {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  50% {
    transform: translateY(-60%);
    opacity: 1;
  }
  100% {
    transform: translateY(-60%);
    opacity: 0;
  }
}

@keyframes moveToCenter_then_fadeOut_portrait {
  0% {
    transform: translateX(0);
    opacity: 0.9;
  }
  50% {
    transform: translateX(90%);
    opacity: 0.9;
  }
  100% {
    transform: translateX(90%);
    opacity: 0;
  }
}

@keyframes moveToCenterBackwards_then_fadeOut_portrait {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  50% {
    transform: translateX(-90%);
    opacity: 1;
  }
  100% {
    transform: translateX(-90%);
    opacity: 0;
  }
}

.menu-open-content-cover {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 60vw;
  z-index: 3;
}

.questionaire-text-counter-wrapper {
  border: 1px solid pink;
  /* all: unset; */
  flex: 1;
  width: 92%;
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
  align-items: center;
}

.language-flag.fade-out-now {
  animation: fadeOut 0.4s forwards;
}

.language-flag.move-and-fade {
  animation: moveToCenter_then_fadeOut 1.6s forwards;
  animation-delay: 0.4s;
}

.language-flag.move-and-fade-backwards {
  animation: moveToCenterBackwards_then_fadeOut 1.6s forwards;
  animation-delay: 0.4s;
}

.skip-vid-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5em;
  /* height: 5em; */
  border: 1px solid var(--blue1);
  border-radius: 8px;
  background: var(--blue4opaque);
  position: absolute;
  bottom: 4em;
  right: 1em;
  color: white;
  font-size: 1.5em;

  z-index: 1;
}

.homepage-pdf-btns-wrapper {
  width: 94%;
  justify-content: space-evenly;
  display: flex;
}

.prev-next-survey-wrapper {
  /* border: 1px solid black; */
  margin-top: 0.8em;
  /* width: 80%; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 4px;
  /* border-top: 1px solid rgb(0, 0, 0, 0.4);
  border-bottom: 1px solid rgb(0, 0, 0, 0.4); */
  /* position: absolute; */
  /* bottom: 1em; */
}

.prev-next-btn {
  /* width: 42%; */
  /* height: 2em; */
  font-size: 1.1em;
  padding: 8px;
  /* justify-content: space-evenly; */
  border-radius: 12px;
  color: black;
  background: var(--blue2);
  border: 1px solid rgb(0, 0, 0, 0.8);
  box-shadow: -1px 1px 17px -2px rgba(255, 255, 255, 0.45);
  -webkit-box-shadow: -1px 1px 17px -2px rgba(255, 255, 255, 0.45);
  -moz-box-shadow: -1px 1px 17px -2px rgba(255, 255, 255, 0.45);
}

.questionaire-text {
  font-family: "Courier New", Courier, monospace;
  font-size: 1.1em;
  color: white;
  /* height: 50%; */
  flex: 2;
}

.nav-questionaire-type {
  font-family: "Courier New", Courier, monospace;
  animation: slideUp 1s ease-out forwards;
}

.questionare-pdfs-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 12px;
}

.questionaire-textbox-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(0, 0, 0, 0.4);
  border-radius: 12px;
  padding: 4px;
  /* height: 100%; */
  margin-top: 1em;
  width: 100%;
}

.fullscreen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  z-index: 3;
}

.img-viewer-wrapper {
  border: 1px solid rgb(0, 0, 0, 0.4);
  border-radius: 4px;
}

.ul-styles {
  /* margin: 0; */
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
  /* max-width: 400px; */
  /* border: 1px solid #ddd; */
  border-top: 1px solid #ddd;

  border-bottom: 1px solid #ddd;

  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.menu-item-list-item {
  list-style-type: none;
  min-height: 2.5em;
  color: white;
  opacity: 0.9;
  font-size: 1.3em;
  /* font-weight: 500; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8px;
  border-bottom: 1px solid #eee;
}

.menu-subitem-list-item {
  /* background: rgb(206, 206, 206); */
  color: black;
  list-style: none;
  font-size: 0.9em;
  text-align: left;
  /* font-weight: 500; */

  /* border-bottom: 1px solid rgb(0, 0, 0, 0.4); */
  margin: 4px 0;
  /* margin-top: 0.3em; */
  padding: 5px 15px;
  border-left: 2px solid #282828;
}

.menu-subitem-list-item span::before {
  content: "";
  margin-right: 8px;
  color: #007bff; /* Accent color */
}

.menu-subitem-list-item-slide {
  /* background: rgb(206, 206, 206); */
  color: black;
  list-style: none;
  font-size: 0.9em;
  text-align: left;
  /* font-weight: 500; */

  /* border-bottom: 1px solid rgb(0, 0, 0, 0.4); */
  margin: 4px 0;
  /* margin-top: 0.3em; */
  padding: 5px 5px;
  border-left: 2px solid #282828;
}

.menu-subitem-list-item-slide span::before {
  content: "";
  margin-right: 8px;
  color: #007bff; /* Accent color */
}

.menu-start-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.689);
  border-radius: 20px;
  font-size: 1.3em;
  width: 8em;
  padding: 8px;
  color: white;
  border: 1px solid black;
  margin-right: 2em;
  box-shadow: -1px 1px 2px 4px rgba(153, 153, 153, 0.62);
  -webkit-box-shadow: -1px 1px 2px 4px rgba(153, 153, 153, 0.62);
  -moz-box-shadow: -1px 1px 2px 4px rgba(153, 153, 153, 0.62);
}

.sub-item-menu-text {
  /* color: rgb(0, 0, 0); */
  font-family: crimson-reg;
  /* align-items: baseline; */
  display: flex;
}

.sub-item-menu-text-slide {
  font-family: crimson-reg;
  display: flex;
}

.item-text {
  display: flex;
  justify-content: space-between;
  font-family: crimson-reg;
  /* font-weight: 500; */
}

.item-text-subItem-wrapper {
  background-color: rgba(41, 40, 40, 0.7);
  display: flex;
  justify-content: space-between;
  padding: 3px;
  align-items: center;
  height: 4em;
}

.item-text-subItem-text {
  font-family: crimson-reg;
  font-size: 1.2em;
  padding: 3px;
  display: flex;
}

.item-opened-title {
  width: 96%;
  font-family: crimson-reg;
  /* border-bottom: 1px solid white; */
}

.narration-icon-container {
  background: black;
  border-radius: 12px;
  padding: 4px;
  margin-right: 1em;
  border: 1px solid white;
}

.lighter-grey {
  background: rgb(17, 17, 17);
}

.darker-grey {
  background: rgb(62, 62, 62);
}

.item-vid-player-wrapper {
  margin-top: 1em;
}

.hmpg-btns-container {
  display: flex;
  justify-content: center;
  margin-top: 0em;
}

.pdf-wrapper {
  width: 100%;
  overflow: auto;
  border-radius: 8px;
  height: 62vh;
}

.pdf-full-screen-icon {
  position: absolute;
  /* border: 2px solid red; */
  z-index: 2;
  /* top: 0; */
  margin-top: 0.5em;
  right: 2.4em;
}

.questionaire-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  /* margin-top: 6em; */
  border: 1px solid yellow;
}

.questionaire-content-container {
  width: 96%;
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex: 0.75;
  /* height: 70%; */
  /* border: 1px solid rgb(0, 0, 0, 0.4); */
  /* border: 1px solid red; */
}

.questionaire-counter {
  bottom: 1.5em;
  font-size: 1.5em;
  color: rgba(255, 255, 255, 0.8);
}

.video-container {
  width: 100%;
  height: 100%;
}

.video-player {
  height: 100%;
  width: 100%;
  /* border-radius: 12px; */
}
.video-height {
  height: 18em;
}

.modal-complete-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
  align-items: center;
}

.completed-msg-wrapper {
  font-family: gotham-bold;
  text-align: center;
  color: black;
  font-size: 1.6em;
  padding: 4px;
}

.questionaire-video-wrapper {
  /* height: 200%; */
  height: 100%;
  border: 1px solid orange;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px); /* Slight move up effect */
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Apply the fade-in animation to each list item with increasing delay */
.fade-in-item-0 {
  animation: fadeIn 0.4s ease forwards;
}

.fade-in-item-1 {
  animation: fadeIn 0.4s ease forwards;
  animation-delay: 0.1s;
}

.fade-in-item-2 {
  animation: fadeIn 0.4s ease forwards;
  animation-delay: 0.2s;
}

/* Continue for all items... */
.fade-in-item-3 {
  animation: fadeIn 0.4s ease forwards;
  animation-delay: 0.3s;
}

.fade-in-item-4 {
  animation: fadeIn 0.4s ease forwards;
  animation-delay: 0.4s;
}

.fade-in-item-5 {
  animation: fadeIn 0.4s ease forwards;
  animation-delay: 0.5s;
}

.fade-in-item-6 {
  animation: fadeIn 0.4s ease forwards;
  animation-delay: 0.6s;
}

.fade-in-item-7 {
  animation: fadeIn 0.4s ease forwards;
  animation-delay: 0.7s;
}

.fade-in-item-8 {
  animation: fadeIn 0.4s ease forwards;
  animation-delay: 0.8s;
}

.fade-in-item-9 {
  animation: fadeIn 0.4s ease forwards;
  animation-delay: 0.9s;
}

@media screen and (orientation: portrait) {
}

@media screen and (orientation: landscape) {
  .questionaire-video-wrapper {
    height: 100%;
  }
  .questionaire-content-container {
    /* flex-direction: row; */
    /* flex: 5; */
    /* border: 1px solid yellow; */
    margin-top: 1.2em;
    width: 90%;
    height: 100%;
  }

  .languages-container {
    margin-top: 8em;
  }

  .skip-vid-container {
    bottom: 2em;
  }

  .pdf-wrapper {
    width: 76%;
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    height: 100%;
    /* height: 50%; */
  }

  .fullscreen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    z-index: 5;
  }

  .prev-next-survey-wrapper {
    margin-top: 2em;
    /* z-index: 0; */
    width: 96%;
  }

  .questionaire-wrapper {
    flex-direction: row;
    margin-top: 2em;
  }

  .prev-next-btn {
    width: 56%;
  }

  .video-container {
    width: 96%;
  }

  .video-player {
    height: 100%;
    position: relative;
    left: 0;
    border-radius: 12px;
    z-index: 0;
    object-fit: cover;
  }

  .skip-vid-container {
    width: 8em;

    z-index: 8;
  }

  .smaller-vid {
    box-shadow: 1px 1px 15px 2px rgba(255, 255, 255, 0.4);
    -webkit-box-shadow: 1px 1px 15px 2px rgba(255, 255, 255, 0.4);
    -moz-box-shadow: 1px 1px 15px 2px rgba(255, 255, 255, 0.4);
  }

  .nav-outer-wrapper {
    height: 3em;
  }

  .languages-container {
    margin-top: 4em;
  }

  .completed-msg-wrapper {
    /* position: absolute;
    top: 0;
    left: 0;
    z-index: 50000; */
  }

  .last-question-on-complete {
    position: absolute;
    z-index: 50000;
    top: 0;
    left: 0;
  }

  .hmpg-btns-container {
    margin-top: 1em;
  }

  .telp {
    width: 46%;
  }

  .homepage-pdf-btns-wrapper {
    width: 60%;
    justify-content: space-between;
  }

  .img-viewer-wrapper {
    /* height: 120%; */
    /* width: 58%; */
    /* width: 100%; */
    /* margin-top: 3em; */
    border: none;
    /* border-radius: 12px; */
    height: 100%;
    width: 96%;
  }

  body {
    overflow-y: scroll;
  }

  .questionaire-textbox-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* justify-content: space-evenly; */
    background: rgb(0, 0, 0, 0.4);
    border-radius: 12px;
    /* padding: 4px; */
    /* height: 70%; */
    width: 96%;
    /* width: 36%; */
  }

  .homepage-wrapper {
    margin-top: 3em;
  }

  .questionaire-counter {
    font-size: 1.3em;
    color: rgba(255, 255, 255, 0.8);
    margin-left: 0.5em;
    margin-right: 0.5em;
  }

  .language-flag.move-and-fade {
    animation: moveToCenter_then_fadeOut_portrait 1.6s forwards;
    animation-delay: 0.4s;
  }

  .language-flag.move-and-fade-backwards {
    animation: moveToCenterBackwards_then_fadeOut_portrait 1.6s forwards;
    animation-delay: 0.4s;
  }

  .questionare-pdfs-container {
    justify-content: space-evenly;
    font-size: 0.9em;
  }

  .questionaire-text-counter-wrapper {
    all: unset;
    /* flex: 1; */
    width: 30%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 0.8em;
  }

  .complete-btn-landscape {
    width: 6em;
    font-size: 0.9em;
  }

  .menu-open-list-item {
    margin-top: 0.6em;
    font-size: 1em;
  }

  .questainre-open {
    width: 30vw; /* The width when menu is open */
  }
}
