@font-face {
  font-family: gotham;
  src: url("./fonts/GothamLight.ttf");
}

@font-face {
  font-family: gotham-bold;
  src: url("./fonts/GothamMedium.ttf");
}

:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  --blue1: #8fe5e4ff;
  --blue2: #68d7dfff;
  --blue3: #018eacff;
  --blue4: #006a88ff;
  --blue5: #002846ff;
  --blue1opaque: rgba(143, 229, 228, 0.5);
  --blue2opaque: rgba(104, 215, 223, 0.5);
  --blue3opaque: rgba(1, 141, 172, 0.5);
  --blue4opaque: rgba(0, 106, 136, 0.5);
  --blue5opaque: rgba(0, 40, 70, 0.5);
  --radial-gradientTest: radial-gradient(
    var(--blue1opaque),
    var(--blue2opaque),
    var(--blue3opaque)
  );

  --radial-gradient: radial-gradient(var(--blue5), var(--blue4), var(--blue3));
  --radial-gradientTwo: radial-gradient(
    var(--blue5),
    var(--blue4),
    var(--blue2)
  );

  --radial-gradient-dark: radial-gradient(
    rgba(0, 141, 172, 0.2),
    rgba(100, 106, 136, 0.4)
  );
}

body {
  margin: 0;
  /* display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow: hidden; */
  /* background: var(--radial-gradient); */
  height: 100vh;
  /* background: var(--radial-gradientTest); */
  overflow: hidden;
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.tester {
  background-color: black;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("/assets/images/icl-symbol.png");
  background-position: center;
  background-repeat: no-repeat;
  z-index: -5;
}

.tester-two {
  background-color: black;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("/assets/images/icl-symbol.png");
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
  animation: fadeOut 1s forwards;
  animation-delay: 1s;
}

.icl-logo {
  height: 50%;
  /* margin-left: 2em; */
  animation: slideUp 1s ease-out forwards;
}

.background-one {
  background: radial-gradient(var(--blue5), var(--blue4), var(--blue3));
  opacity: 0.6;
  flex: 4;
}

.background-two {
  background: var(--radial-gradientTest);
  flex: 1;
}
.nav-border {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5em;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(0, 0, 0, 0.4);

  box-shadow: 0px 7px 3px 1px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0px 7px 3px 1px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 7px 3px 1px rgba(0, 0, 0, 0.4);
  z-index: 2;
}

.nav-logo-wrapper {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.homepage-wrapper {
  width: 100vw;
  height: 70vh;
  margin-top: 5em;
}
.choose-language-wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  /* background: var(--radial-gradientTest); */
  height: 100%;
}

.languages-container {
  margin-top: 8em;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
}

/* @keyframes move_then_fadeIn_he {
  0% {
    transform: translateX(0);
    opacity: 0;
  }
  50% {
    transform: translateX(60%);
    opacity: 0.5;
  }
  100% {
    transform: translateX(60%);
    opacity: 1;
  }
}

@keyframes move_then_fadeIn_zh {
  0% {
    transform: translateX(0);
    opacity: 0;
  }
  50% {
    transform: translateX(-60%);
    opacity: 0.5;
  }
  100% {
    transform: translateX(-60%);
    opacity: 1;
  }
} */

.questionaire-items-menu-open {
  position: absolute;
  right: 0;
  top: 0;
  height: 100vh;
  background: rgba(159, 150, 150, 0.9);
  transition: width 0.4s ease-in-out;
  z-index: 3;
  display: flex;
  flex-direction: column;
  width: 0; /* Initial closed state */
  overflow: hidden; /* Ensures content doesn't spill out during transition */
}

.questainre-open {
  width: 40vw; /* The width when menu is open */
}

.menu-open-list-item {
  font-family: sans-serif;
  margin-top: 1em;
  font-size: 1.1em;
}

.questionair-all-items-btn {
  all: unset;
  border: 1px solid rgba(255, 255, 255, 0.45);
  border-radius: 12px;
  width: 10em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  /* font-weight: 900; */
  background: var(--blue1opaque);
}

.language-flag {
  height: 12em;
  width: 12em;
  background-image: url("/assets/images/israel-flg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 12px;
  box-shadow: -1px 1px 17px 5px rgba(255, 255, 255, 0.45);
  /* opacity: 0.9; */
  position: relative;
  border: 1px solid rgb(0, 0, 0, 0.6);
  /* animation: move_then_fadeIn 3s forwards; */
}

.secondLanguage-flag {
  background-image: url("/assets/images/china-flag.webp");
  background-position: left;

  /* background-size: contain; */
  /* animation: move_then_fadeIn 3s forwards; */
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}

@keyframes fadeOut_and_zindex {
  to {
    opacity: 0;
    z-index: -2;
  }
}

@keyframes moveToCenter_then_fadeOut {
  0% {
    transform: translateX(0);
    opacity: 0.9;
  }
  50% {
    transform: translateX(60%);
    opacity: 0.9;
  }
  100% {
    transform: translateX(60%);
    opacity: 0;
  }
}

@keyframes moveToCenterBackwards_then_fadeOut {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  50% {
    transform: translateX(-60%);
    opacity: 1;
  }
  100% {
    transform: translateX(-60%);
    opacity: 0;
  }
}

@keyframes moveToCenterAssembly_then_fadeOut {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  50% {
    transform: translateY(60%);
    opacity: 1;
  }
  100% {
    transform: translateY(60%);
    opacity: 0;
  }
}

@keyframes moveToCenterBackwardsAssembly_then_fadeOut {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  50% {
    transform: translateY(-60%);
    opacity: 1;
  }
  100% {
    transform: translateY(-60%);
    opacity: 0;
  }
}

@keyframes moveToCenter_then_fadeOut_portrait {
  0% {
    transform: translateX(0);
    opacity: 0.9;
  }
  50% {
    transform: translateX(70%);
    opacity: 0.9;
  }
  100% {
    transform: translateX(70%);
    opacity: 0;
  }
}

@keyframes moveToCenterBackwards_then_fadeOut_portrait {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  50% {
    transform: translateX(-70%);
    opacity: 1;
  }
  100% {
    transform: translateX(-70%);
    opacity: 0;
  }
}

.menu-open-content-cover {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 60vw;
  z-index: 3;
}

.questionaire-text-counter-wrapper {
  all: unset;
  flex: 1;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.language-flag.fade-out-now {
  animation: fadeOut 0.4s forwards;
}

.language-flag.move-and-fade {
  animation: moveToCenter_then_fadeOut 1.6s forwards;
  animation-delay: 0.4s;
}

.language-flag.move-and-fade-backwards {
  animation: moveToCenterBackwards_then_fadeOut 1.6s forwards;
  animation-delay: 0.4s;
}

.skip-vid-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5em;
  /* height: 5em; */
  border: 1px solid var(--blue1);
  border-radius: 8px;
  background: var(--blue4opaque);
  position: absolute;
  bottom: 4em;
  right: 1em;
  color: white;
  font-size: 1.5em;

  z-index: 1;
}

.assemble-dismantle-option {
  height: 14em;
  width: 14em;
  background-image: url("/assets/images/assemble.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  box-shadow: -1px 1px 17px 5px rgba(255, 255, 255, 0.45);
  -webkit-box-shadow: -1px 1px 17px 5px rgba(255, 255, 255, 0.45);
  -moz-box-shadow: -1px 1px 17px 5px rgba(255, 255, 255, 0.45);
  opacity: 0.8;
}

.assemble-dismantle-option.fade-out-now {
  animation: fadeOut 0.4s forwards;
}

.assemble-dismantle-option.move-and-fade {
  animation: moveToCenterAssembly_then_fadeOut 1.6s forwards;
  animation-delay: 0.6s;
}

.assemble-dismantle-option.move-and-fade-backwards {
  animation: moveToCenterBackwardsAssembly_then_fadeOut 1.6s forwards;
  animation-delay: 0.6s;
}

.dismantle-btn {
  background-image: url("/assets/images/deasseblewebp.webp");
}

.homepage-pdf-btns-wrapper {
  width: 94%;
  justify-content: space-evenly;
  display: flex;
}

.assemble-dismantle-wrapper {
  display: flex;
  flex-direction: column;
  height: 96%;
  justify-content: space-evenly;
  align-items: center;
  /* margin-top: 10; */
}

.select-type-container-wrapper {
  all: unset;
}

.prev-next-survey-wrapper {
  /* margin-top: 3em; */
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border-top: 1px solid rgb(0, 0, 0, 0.4);
  border-bottom: 1px solid rgb(0, 0, 0, 0.4); */
  /* position: absolute; */
  /* bottom: 1em; */
}

.prev-next-btn {
  width: 36%;
  height: 2em;
  font-size: 1.2em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  color: black;
  background: var(--blue1opaque);
  border: 1px solid rgb(0, 0, 0, 0.8);
  box-shadow: -1px 1px 17px -2px rgba(255, 255, 255, 0.45);
  -webkit-box-shadow: -1px 1px 17px -2px rgba(255, 255, 255, 0.45);
  -moz-box-shadow: -1px 1px 17px -2px rgba(255, 255, 255, 0.45);
}

.questionaire-text {
  font-family: "Courier New", Courier, monospace;
  font-size: 1.1em;
  color: white;
  /* height: 50%; */
  flex: 2;
}

.nav-questionaire-type {
  font-family: "Courier New", Courier, monospace;
  animation: slideUp 1s ease-out forwards;
}

.questionare-pdfs-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 12px;
}

.questionaire-textbox-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(0, 0, 0, 0.4);
  border-radius: 12px;
  padding: 4px;
  /* height: 100%; */
  /* margin-top: 1em; */
  width: 100%;
}

.fullscreen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  z-index: 3;
}

.img-viewer-wrapper {
  border: 1px solid rgb(0, 0, 0, 0.4);
  border-radius: 4px;
}

.hmpg-btns-container {
  display: flex;
  justify-content: center;
  margin-top: 0em;
}

.pdf-wrapper {
  width: 100%;
  overflow: auto;
  border-radius: 8px;
  height: 62vh;
}

.pdf-full-screen-icon {
  position: absolute;
  /* border: 2px solid red; */
  z-index: 2;
  /* top: 0; */
  margin-top: 0.5em;
  right: 2.4em;
}

.questionaire-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 6em;
}

.questionaire-content-container {
  width: 96%;
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex: 1.6;
  /* height: 70%; */
  /* border: 1px solid rgb(0, 0, 0, 0.4); */
  /* border: 1px solid red; */
}

.questionaire-counter {
  bottom: 1.5em;
  font-size: 1.5em;
  color: rgba(255, 255, 255, 0.8);
}

.video-container {
  width: 100%;
  height: 100%;
}

.video-player {
  height: 100%;
  width: 100%;
  border-radius: 12px;
}
.video-height {
  height: 18em;
}

.modal-complete-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
  align-items: center;
}

.completed-msg-wrapper {
  font-family: gotham-bold;
  text-align: center;
  color: black;
  font-size: 1.6em;
  padding: 4px;
}

.questionaire-video-wrapper {
  /* height: 200%; */
}

@media screen and (orientation: portrait) {
  .assemble-dismantle-wrapper {
    /* border: 1px solid black; */
  }
}

@media screen and (orientation: landscape) {
  .questionaire-video-wrapper {
    height: 100%;
  }
  .questionaire-content-container {
    /* flex-direction: row; */
    /* flex: 5; */
    /* border: 1px solid yellow; */
    margin-top: 1.2em;
    width: 100%;
    height: 100%;
  }
  .assemble-dismantle-wrapper {
    display: flex;
    flex-direction: row;
    /* height: 60%; */
    justify-content: space-evenly;
    align-items: center;
    /* margin-top: 6em; */
    margin-top: 3em;
    height: 50%;
    width: 60%;
  }

  .languages-container {
    margin-top: 8em;
  }

  .skip-vid-container {
    bottom: 2em;
  }

  .pdf-wrapper {
    width: 76%;
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    height: 100%;
    /* height: 50%; */
  }

  .fullscreen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    z-index: 5;
  }

  .prev-next-survey-wrapper {
    margin-top: 2em;
    /* z-index: 0; */
    width: 96%;
  }

  .questionaire-wrapper {
    flex-direction: row;
    margin-top: 2em;
  }

  .prev-next-btn {
    width: 56%;
  }

  .video-container {
  }

  .video-player {
    height: 100%;
    position: relative;
    left: 0;
    border-radius: 12px;
    z-index: 0;
    object-fit: cover;
  }

  .skip-vid-container {
    width: 8em;

    z-index: 8;
  }

  .smaller-vid {
    box-shadow: 1px 1px 15px 2px rgba(255, 255, 255, 0.4);
    -webkit-box-shadow: 1px 1px 15px 2px rgba(255, 255, 255, 0.4);
    -moz-box-shadow: 1px 1px 15px 2px rgba(255, 255, 255, 0.4);
  }

  .nav-border {
    height: 3em;
  }

  .languages-container {
    margin-top: 4em;
  }

  .completed-msg-wrapper {
    /* position: absolute;
    top: 0;
    left: 0;
    z-index: 50000; */
  }

  .last-question-on-complete {
    position: absolute;
    z-index: 50000;
    top: 0;
    left: 0;
  }

  .hmpg-btns-container {
    margin-top: 1em;
  }

  .assemble-dismantle-option.move-and-fade {
    animation: moveToCenter_then_fadeOut_portrait 1.6s forwards;
    animation-delay: 0.6s;
  }

  .assemble-dismantle-option.move-and-fade-backwards {
    animation: moveToCenterBackwards_then_fadeOut_portrait 1.6s forwards;
    animation-delay: 0.6s;
  }

  .telp {
    width: 46%;
  }

  .homepage-pdf-btns-wrapper {
    width: 60%;
    justify-content: space-between;
  }

  .img-viewer-wrapper {
    /* height: 120%; */
    /* width: 58%; */
    /* width: 100%; */
    /* margin-top: 3em; */
    border: none;
    /* border-radius: 12px; */
    height: 100%;
    border: 1px solid pink;
  }

  body {
    overflow: scroll;
  }

  .assemble-dismantle-option {
    height: 13em;
    width: 13em;
  }

  .questionaire-textbox-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* justify-content: space-evenly; */
    background: rgb(0, 0, 0, 0.4);
    border-radius: 12px;
    /* padding: 4px; */
    height: 60%;
    width: 96%;
    /* width: 36%; */
  }

  .homepage-wrapper {
    margin-top: 3em;
  }

  .select-type-container-wrapper {
    display: flex;
    justify-content: center;
  }

  .questionaire-counter {
    font-size: 1.3em;
    color: rgba(255, 255, 255, 0.8);
    margin-left: 0.5em;
    margin-right: 0.5em;
  }

  .language-flag.move-and-fade {
    animation: moveToCenter_then_fadeOut_portrait 1.6s forwards;
    animation-delay: 0.4s;
  }

  .language-flag.move-and-fade-backwards {
    animation: moveToCenterBackwards_then_fadeOut_portrait 1.6s forwards;
    animation-delay: 0.4s;
  }

  .questionare-pdfs-container {
    justify-content: space-evenly;
    font-size: 0.9em;
  }

  .questionaire-text-counter-wrapper {
    all: unset;
    /* flex: 1; */
    width: 30%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-right: 0.8em;
  }
}
